[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=lightdm.service

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR $MAINPID

[Install]
WantedBy=default.target
