[user]
    name = acereca
	email = acereca@outlook.de
[pack]
    threads = 1
    windowMemory = 256m
    packSizeLimit = 256m
    deltaCacheSize = 256m
    window = 0
[core]
    packedGitLimit = 256m
    packedGitWindowSize = 256m
[alias]
    st = status
    stat = status
    stats = status
    ci = commit -v
