snippet --- "Public Template" bA
$0

Patrick Nisble
Computer Enginering Masters Student
Univerity of Heidelberg
endsnippet

snippet --- "SuS Template" bA
$0

Patrick Nisble
Computer Enginering Masters Student
University of Heidelberg
Chair of Circuit Design, Room 440
ZITI - Institute of Computer Engineering
Im Neuenheimer Feld 368
69120 Heidelberg
endsnippet
